*{
  margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

}
header {
  height: 200px;
  display: flex;;
  flex-direction: row;
  background: linear-gradient(to right, #a9840bb5, #a39f6fde);
  text-decoration:overline;
  color: white;
  text-align:center; 
  font-size: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  

}


header h1 {
  margin: 0;
  text-shadow:0 0 20px rgba(247, 244, 244, .3);
}

nav {
  text-align: center;
  margin: 20px;
}
nav a {
  margin: 40px;
  text-decoration: none;
  color: #696d04;
}

nav a:hover {
  text-decoration: underline;
}

.puntos {
  margin-left:15px;
}

.contenedor {
  display: flex;
  align-items:flex-start;
  margin: 20px;
  gap: 20px;

}

.contenedor img {
  max-width: 450px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 
}

/* #about {
  height: 160px;
} */

.contenedor div {
  display: flex;
  flex-direction: column; /* Apila las secciones en columna */
  gap: 24px; /* Espacio entre las secciones */;
}

.contenedor section {
  background: white;
  padding: 33px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  line-height: 25px;
}

.contenedor section h2 {
  margin-bottom: 10px;
}

footer {
  text-align:center;
  background-color: rgba(99, 85, 15, 0.276);
  color: white;
  padding: 1em 0;
  margin-top: 10px;
  width: 100%;
  bottom: 0;  
}

.aside-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 20px;
}



aside {
  align-items: flex-start;
  flex:1;
  width: 350px;
  border: 1px solid #7b7663;
	border-radius: 3px;
  padding: 10px;
	flex-direction:row;
  align-items:center;
	display: flex;
	background: rgba(124, 108, 28, 0.276);
}

.ad {
  display: flex;
  align-items: center;
  
}

.ad img {
  margin-right: 10px;
  border-radius: 20px;
  max-width:350px;
  height: 400px;
  padding: 10px;
  transition: transform 0.4s;
}

.ad img:hover {
  transform: scale(1.1);
}

aside p {
  flex: 1;
  font-size: 18px;
	line-height: 1.5;
  color: #333;
  max-width: 90%;
  margin:10px;

}

footer a {
  color:white;
}
